@mixin transitionAll() {
  transition: all 0.3s ease-out;
}

.user-container {
  display: flex;
  width: 100%;
  flex: 1;
  overflow: hidden;
}
.sidenav {
  background: transparent;
}
.user-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: stretch;
  padding: 1rem;
  @include transitionAll();
  &.is-full-width {
    margin-left: -300px;
  }
}
